.ui-autocomplete {background: #fff; max-width: 800px;}
.content table {width: 100%;}

.col {width: 100%; padding: 0px 15px;}

.text-help {margin-top: -25px;}
.subform .text-help {margin-top: 0px;}

.checkboxlist {margin-bottom: 40px;}
.checkboxlist .form-label {margin-bottom: 20px;}

.fileupload {margin-bottom: 40px;}

.text-row {padding: 0px 15px; width: 100%;}
.text-row p:first-child {margin-top: 0px}

.table-group {font-weight: bold!important;}

.checkbox_control {
    display: block!important;
    position: absolute;
    opacity: 0;
}


.search-table {display: flex; flex-wrap: wrap;}
.search-table input, .search-table select {padding: 10px!important; width: 33%!important; margin-right: 5px;}
.search-table select.pagesize {
    width: 75px!important;
    align-self: flex-end;
    margin-left: auto;
}

.header-search{padding: 10px; border: none; border-radius: 5px; width: 100%;}

.select2-container--krajee .select2-selection {background: #F4F7FB!important; border: 0px!important; box-shadow: none!important;
margin-bottom: 36px;
}
.select2-container--krajee .select2-selection--single .select2-selection__rendered {font-size: 16px; color: #3b4256!important;}

.select2-container--krajee .select2-selection--single {
	padding: 13px 16px!important;
	    height: 47px!important;
}
img[src*="http://www.admkrsk.ru/_layouts/images/icdocx.png"], .ms-asset-icon {display: none!important;}

.btn-group .btn-group_item {
	margin-left: 0px;
    margin-bottom: 15px;
    margin-right: 8px;
}

.page .subform .form-control {margin-bottom: 10px!important;}
.subform-action-buttons {text-align: right;}
.collections-action-buttons {text-align: right; padding-right: 120px; margin-top: -48px; margin-bottom: 30px;}

.person-card_content {flex-direction: column;}

.form-inside * {font-size: 16px;}

.col .checkbox-group {margin-bottom: 36px;}
.col .checkboxes .checkbox-group {margin-bottom: 16px;}

.sidemenu > ul > li.current {display: none;}

.collection-element {border-bottom: 1px solid #dde1e6;}

ul.pagination , ul.pagination li {list-style-type: none;}
.content ul.pagination li::before {display: none!important;}
.content .pagination li.prev a, .content .pagination li.next a {border-bottom-color: transparent!important;}
.content .pagination li.active a {border-bottom-color: transparent!important; color: #aaa!important;}
ul.pagination li {display: inline-block; padding: 5px;}
ul.pagination {text-align: center;}

.footer-socials_item {opacity: 0.6;}
.footer-socials_item:hover {opacity: 1;}

.select2-selection__arrow b {display: none!important;}
.select2-selection__arrow {
	width: 24px;
    height: 24px;
    border: 0px!important;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…lkdGg9IjI0IiBoZWlnaHQ9IjI0IiByeD0iNCIvPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+);
}

.close {
    color: #C7CCD1!important;
    font-family: 'Material Icons' !important;
    font-size: 20px;
    border-bottom: 0px!important;
}

.file-td.file-td__name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content  table.form-table tbody tr:last-child td {border-bottom: 0px;}

.td-close {vertical-align: middle!important;}
.form-table .btn {width: 100%; border-bottom: 0px!important; margin: 0px 0px;}
.form-table {margin-left: -8px; margin-right: -8px;}
.form-table td {padding: 5px;}
.form-table th {background: #fff!important;}
.page .form-table .form-control {margin-bottom: 0px;}

.fileupload_list .dz-remove, {
    cursor: pointer;
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    margin-top: -5px;
    color: #C7CCD1;

    font-weight: bold;
    font-style: normal;
    font-size: 23px;
    margin-top: -11px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    border-bottom: 0px!important;
}

.fileupload_item-progress {width:76%!important}
.fileupload_preview-type img {width: 100%;}

.fileupload_list .dz-remove:hover {
    color: #e4292f;
}

a[href$=".pdf"]:before {background:#fff url('/img/files/pdf.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".doc"]:before {background:#fff url('/img/files/doc.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xsl"]:before {background:#fff url('/img/files/xsl.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".docx"]:before {background:#fff url('/img/files/doc.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xslx"]:before {background:#fff url('/img/files/xsl.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xml"]:before {background:#fff url('/img/files/xml.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".csv"]:before {background:#fff url('/img/files/csv.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".mp3"]:before {background:#fff url('/img/files/mp3.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".zip"]:before {background:#fff url('/img/files/zip.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".wav"]:before {background:#fff url('/img/files/wav.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".txt"]:before {background:#fff url('/img/files/txt.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}

.countdown{
    position: absolute;
    font-size: 2em;
    font-weight: bold;
}

.fileupload_list:empty {
    display: none;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

table.vote thead{
    background-color: whitesmoke;
    padding: 10px;
}

@media screen and (min-width: 992px) {
    form .row {flex-wrap: nowrap!important;}
}

table.vote thead td{
    padding: 10px;
}

.content .boxed.has-error {
    border: 1px solid #a94442;
}

.polls__question-error {
    margin-bottom: 16px;
    color: #a94442;
}

.content table tbody td {padding: 11px 8px!important;}

#personnel_form_layout td, .personnel_block_subheader,.personnel_block_index, .personnel_block_header, #personnel_form_layout .personnel_form_field_value input, #personnel_form_layout select, #personnel_form_layout textarea, .ui-menu .ui-menu-item a {
    font-size: 10pt;
    font-family: Trebuchet MS, Tahoma, Arial, sans-serif;
    vertical-align: top;
}

/*.personnel_block_header, .personnel_block_subheader {width: 200px;}*/

.personnel_block_index {padding-top: 5px;}

.personnel_block_header, .personnel_block_content,.personnel_block_subheader  {
    padding: 8px!important;
}

.personnel_block_content{
    border-bottom: 1px solid #b8babd;
    font-weight: bold!important;
    font-style: italic;
}