.ui-autocomplete {background: #fff; max-width: 800px;}
.content table {width: 100%;}

.col {width: 100%; padding: 0px 15px;}
form .row {flex-wrap: nowrap!important;}

.checkboxlist {margin-bottom: 40px;}
.checkboxlist .form-label {margin-bottom: 20px;}

.fileupload {margin-bottom: 40px;}

.text-row {padding: 0px 15px; width: 100%;}

.header-search{padding: 10px; border: none; border-radius: 5px; width: 100%;}

.select2-container--krajee .select2-selection {background: #F4F7FB!important; border: 0px!important; box-shadow: none!important;
margin-bottom: 36px;
}
.select2-container--krajee .select2-selection--single .select2-selection__rendered {font-size: 16px; color: #3b4256!important;}

.select2-container--krajee .select2-selection--single {
	padding: 13px 16px!important;
	    height: 47px!important;
}
.btn-group .btn-group_item {
	margin-left: 0px;
    margin-bottom: 15px;
    margin-right: 8px;
}

.select2-selection__arrow b {display: none!important;}
.select2-selection__arrow {
	width: 24px;
    height: 24px;
    border: 0px!important;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…lkdGg9IjI0IiBoZWlnaHQ9IjI0IiByeD0iNCIvPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+);
}

.close {
    color: #C7CCD1!important;
    font-family: 'Material Icons' !important;
    font-size: 20px;
    border-bottom: 0px!important;
}

.content  table.form-table tbody tr:last-child td {border-bottom: 0px;}

.td-close {vertical-align: middle!important;}
.form-table .btn {width: 100%; border-bottom: 0px!important; margin: 0px 6px;}
.form-table {margin-left: -8px; margin-right: -8px;}
.form-table th {background: #fff!important;}
.page .form-table .form-control {margin-bottom: 0px;}

.fileupload_list .dz-remove, {
    cursor: pointer;
    position: absolute;
    display: block;
    right: 20px;
    top: 50%;
    margin-top: -5px;
    color: #C7CCD1;

    font-weight: bold;
    font-style: normal;
    font-size: 23px;
    margin-top: -11px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    border-bottom: 0px!important;
}

.fileupload_item-progress {width:76%!important}
.fileupload_preview-type img {width: 100%;}

.fileupload_list .dz-remove:hover {
    color: #e4292f;
}

a[href$=".pdf"]:before {background:url('/img/files/pdf.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".doc"]:before {background:url('/img/files/doc.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xsl"]:before {background:url('/img/files/xsl.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".docx"]:before {background:url('/img/files/doc.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xslx"]:before {background:url('/img/files/xsl.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".xml"]:before {background:url('/img/files/xml.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".csv"]:before {background:url('/img/files/csv.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".mp3"]:before {background:url('/img/files/mp3.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".zip"]:before {background:url('/img/files/zip.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".wav"]:before {background:url('/img/files/wav.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}
a[href$=".txt"]:before {background:url('/img/files/txt.svg'); width:26px; height:26px; display:inline-block; content:' '; background-size: contain; top: 8px; position: relative; margin-right: 5px;}

.countdown{
    position: absolute;
    font-size: 2em;
    font-weight: bold;
}